@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

body{
    font-family: 'Roboto';
    text-align: center;
}

.container {
    width: 956px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo {
    background-image: url('./../assets/webpack-logo.png');
    background-size: cover;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.header {


}